---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Diving with Max - Blog">
	<main class="my-20">
		<h1 class="text-blue-900 text-6xl font-black text-center">Blog</h1>
	</main>
</Layout>
