---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diving with Max - Contacts">
  <main class="my-20">
    <h1 class="text-blue-900 text-6xl font-black text-center">Contact</h1>
    <div class="container mx-auto text-center">
      <div>
        <span>E-mail :</span>
        <input class="border border-black" />
      </div>
      <div class="my-3">
        <span>First name / Last name :</span>
        <input class="border border-black" />
      </div>
      <div>
        <span>Question :</span>
        <textarea class="p-2 border border-black"
          >It was a dark and stormy night...
        </textarea>
      </div>
    </div>
  </main>
</Layout>
