---
import Menu from "./Menu/Menu.astro";
import MenuElement from "./Menu/MenuElement.astro";
import { Image } from '@astrojs/image/components';
import logo from '../assets/logo.jpeg';

export interface Props {
    title: string
}

const { title } = Astro.props as Props;
---

<div class="w-full h-14 bg-white flex items-center flex-wrap justify-between fixed top-0 left-0 z-10 border-b border-gray-300">
    <a href="/">
        <div class="flex items-center mx-3 gap-3">
                <div class="w-12 rounded-full overflow-hidden">
                    <Image src={logo} />
                </div>
                <div
                class="p-1 font-extrabold text-xl sm:text-3xl lg:text-4xl bg-gradient-to-r from-blue-300 to-blue-800 bg-clip-text text-transparent">
                    {title}
                </div>
        </div>
    </a>
    <Menu>
        <MenuElement name={"Home"} />
        <MenuElement name={"Diving"} />
        <MenuElement name={"Blog"} />
        <MenuElement name={"Gallery"} />
        <MenuElement name={"Contact"} />
    </Menu>
</div>

